<md-card flex class="lane">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{lane.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content class="card-list">
        <div 
        id="{{lane._id}}" 
        ng-class="{'height-50': !lane.cards.length}"
        dragula="'lane'" 
        >
            <div id="{{card._id}}" ng-repeat="card in lane.cards" card data="card"></div>
        </div>
    </md-card-content>
    <md-card-actions felx layout-align="start center">
        <div class="padding-10" ng-if="!isFormVisible" flex ng-click="setFormVisibility(true)">
            <label class="text-muted">Add Card..</label>
        </div>
        <md-card class="md-whiteframe-5dp" ng-if="isFormVisible">
            <md-card-content class="new-card-form">
                <md-input-container class="md-block new-card-title">
                    <label>Card Title</label>
                    <textarea ng-model="card.title" md-maxlength="100" maxlength="100" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-raised md-primary" ng-click="createCard()">Create</md-button>
                <md-button class="md-icon-button" ng-click="setFormVisibility(false)">
                    <md-icon ria-label="Close">close</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-card-actions>
</md-card>
